<p id="notice"><%= notice %></p>

<h1>販売品一覧</h1>
  <br>
<%= link_to 'New Post', new_post_path %>
  <br>
  <br>

<h1>検索</h1>
<%= search_form_for @q, url: search_posts_path do |f| %>
  <%= f.label :title_cont, '名前' %>
  <%= f.search_field :title_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>

  <br>

<table>
  <thead>
    <tr>
      <th>image</th>
      <th>Title</th>
      <th>Content</th>
      <th>number</th>
      <th>price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.image.to_s, width: 180, hight:100; %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.number %></td>
        <td><%= post.price %></td>
        <td><%= link_to '編集', edit_post_path(post) %></td>
        <td><%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

